* {        white-space: pre-line;
}
.cont {
    width:80%;
    margin: auto;
    h1 {
        text-decoration: underline;
    }
    p {
        white-space: pre-line;
    }
}
@mixin underline  {
    text-decoration: underline;
}
.disp-5 {
    font-size: 2rem;
}
.sub {
    background: lightpink;
    font-size: 2rem;
    @include underline()
}
span {
    cursor: pointer;
}
.hidden {
    cursor: pointer;
    color: transparent;
    text-shadow: 0 0 11px #000;
}